{% extends "AppBundle:Admin:adminLayout.html.twig" %}

{% block AlbumEdit %}

	<h3>Album Edit </h3>

	{{ form_start(albumForm) }}
	{{ form_widget(albumForm) }}
	{{ form_end(albumForm) }}

	{% endblock %}