{% extends "AppBundle:Admin:adminLayout.html.twig" %}

{% block albumAdd %}

	<h3>Album Add </h3>

	{{ form_start(albumForm) }}
	{{ form_widget(albumForm) }}
	<button type="submit" class="btn btn-primary">Ajoute un album</button>
	{{ form_end(albumForm) }}

	{% endblock %}