{% extends "AppBundle::layout.html.twig" %}

{% block bandCateg %}

		

{{ dump(bandCateg) }}

		<ul>
			<li>{{bandCateg.id}}</li>
			<li>{{bandCateg.name}}</li>
			<li>{{bandCateg.band.name}}</li>
		</ul>
	

	{% endblock %}