{% extends "AppBundle::layout.html.twig" %}

{% block categBand %}

{{ dump(categBand) }}

		
			<ul>
				<li>band: {{categBand.name}}</li>
				
				{% for c in categBand.categories %}
					
					<ul>
						<li> {{c.name}} </li>
					</ul>
				{% endfor %}
				
			</ul>
		

{% endblock %}
