{% extends "AppBundle:Admin:adminLayout.html.twig" %}

{% block eventAdd %}

	<h3>Event add </h3>

	{{ form_start(eventForm) }}
	{{ form_widget(eventForm) }}
	<input type="submit" value="Ajouter l'évent"/>
	{{ form_end(eventForm) }}

	{% endblock %}