{% extends "AppBundle:Admin:adminLayout.html.twig" %}

{% block categAdd %}

	<h3>Category add</h3>

	{{ form_start(categForm) }}
	{{ form_widget(categForm) }}
	<input type="submit" value="Ajouter la categorie"/>
	{{ form_end(categForm) }}

	{% endblock %}